@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

body,
button,
input,
select,
table,
textarea {
  font-size: 16px;
  line-height: 1.4;
  color: #202020;
  font-family: "Saol", "Chosunilbo_myungjo", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1rem;
}

em, address {
  font-style: normal;
}

strong {
  font-weight: normal;
}

img {
  width: 100%;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ir_so {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

#skip a {
  position: absolute;
  left: 10px;
  top: -100px;
  z-index: 11000;
  color: #000;
  background: #fff;
  font-size: 18px;
  padding: 10px 20px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#skip a:focus {
  top: 20px;
}

@font-face {
  font-family: 'Saol';
  src: url("../fonts/Saol.eot");
  src: url("../fonts/Saol.eot?#iefix") format("embedded-opentype"), url("../fonts/Saol.woff2") format("woff2"), url("../fonts/Saol.woff") format("woff"), url("../fonts/Saol.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-7ExtraBold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-8Heavy';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-2ExtraLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-9Black';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-1Thin';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100%;
  color: #fff;
  background: #000;
  border-bottom: 1px solid #2e2e2e;
  font-family: "Rajdhani";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .port {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  padding-left: 40px;
}

#header .port a {
  padding: 10px 10px 10px 60px;
  position: relative;
}

#header .port a::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 15px;
  width: 40px;
  height: 1px;
  background: #f0eeeb;
}

#header .port a::after {
  content: '';
  position: absolute;
  left: 5px;
  bottom: 15px;
  width: 40px;
  height: 1px;
  background: #f0eeeb;
}

#header .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  text-align: center;
  font-size: 1.8rem;
  font-family: "Playfair Display";
  font-weight: bold;
  margin: 1.3rem;
}

#header .logo a {
  display: inline-block;
  padding: 0 5px;
}

#header .nav {
  padding-right: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  text-align: right;
}

#header .nav ul:first-child {
  font-family: "Chosunilbo_myungjo";
}

#header .nav li {
  display: inline;
}

#header .nav li a {
  display: inline-block;
  padding: 2px 5px;
}

#header.light {
  color: #000;
  background: #f0eeeb;
  border-bottom: 1px solid #f0eeeb;
}

#header.light .port a::before {
  background: #000;
}

#header.light .port a::after {
  background: #000;
}

#mainCont {
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-size: 10vw;
}

.main-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.main-text div {
  font-size: 10vw;
  line-height: 0.8;
  text-transform: uppercase;
}

#footer {
  background: #000;
  color: #fff;
  border-top: 1px solid #2e2e2e;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-info {
  font-family: "Rajdhani";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 130px;
}

.footer-info div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  padding-left: 10px;
}

.footer-info div h3 {
  font-weight: bold;
  padding-right: 20px;
  position: relative;
}

.footer-info div h3::before {
  content: '';
  position: absolute;
  left: -100px;
  top: -20px;
  width: 1px;
  height: 100vw;
  background: #2e2e2e;
}

.footer-info div p {
  line-height: 1.5;
}

.footer-info div li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  list-style: none;
  margin-right: 20px;
}

.footer-info div li a {
  line-height: 1.5;
  padding: 2px;
}

.email h3::before {
  display: none;
}

#footerContact {
  height: 100vh;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footerContact .footer-contact {
  color: #fff;
  text-align: center;
}

#footerContact .footer-contact p {
  font-family: "Rajdhani";
  font-size: 1.4rem;
  margin-bottom: 4em;
  font-weight: 200;
}

#footerContact .footer-contact h3 {
  font-family: "Saol";
  font-size: 10vw;
  line-height: 0.9;
  margin-bottom: .5em;
  text-transform: uppercase;
}

#footerContact .footer-contact .contact {
  font-family: "Rajdhani";
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 1em 3em;
  font-weight: 200;
}

.main-title h1 {
  font-size: 10vw;
  line-height: 0.8;
  text-transform: uppercase;
  font-family: "Saol";
  padding: 270px 0 250px;
}

.main-title h1 strong {
  display: block;
}

.main-title h1 em {
  display: block;
}

#aboutCont {
  background: #f0eeeb;
}

.about-cont .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 400px;
}

.about-cont .about .about-txt h2 {
  margin-bottom: 2rem;
}

.about-cont .about .about-txt p {
  line-height: 1.6;
  word-break: keep-all;
  text-align: justify;
}

.about-cont .about:nth-child(1) .about-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.about-cont .about:nth-child(1) .about-txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.about-cont .about:nth-child(1) .about-txt h2 {
  margin-top: 2rem;
}

.about-cont .about:nth-child(1) .about-txt p {
  margin-right: 30%;
}

.about-cont .about:nth-child(2) .about-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
}

.about-cont .about:nth-child(2) .about-txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.about-cont .about:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about-cont .about:nth-child(3) .about-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56%;
          flex: 0 0 56%;
}

.about-cont .about:nth-child(3) .about-txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

#referCont {
  background: #f0eeeb;
}

.refer-cont {
  padding-bottom: 400px;
}

.refer-cont h2 {
  font-size: 1.8rem;
  font-family: "S-CoreDream-3Light";
  margin-bottom: 1em;
}

.refer-cont .refer-table table {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 2px solid #000;
}

.refer-cont .refer-table table td {
  border-bottom: 1px solid #000;
  font-family: "S-CoreDream-3Light";
  padding: 1.5em 0;
}

#scriptCont {
  background: #f0eeeb;
}

#scriptCont .script {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}

#scriptCont .script .script-img img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: none;
}

#scriptCont .script .script-img img:nth-child(1) {
  display: block;
}

#scriptCont .script h3 {
  margin: 20px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-size: 1.8rem;
}

#scriptCont .script .script-txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

#scriptCont .script .script-txt dl {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: justify;
}

#scriptCont .script .script-txt dt {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

#scriptCont .script .script-txt dd {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

#scriptCont .script .script_btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

#scriptCont .script .script_btn ul {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#scriptCont .script .script_btn li {
  list-style: none;
  border: 1px dashed #666;
  border-radius: 50%;
  margin: 0 20px 20px 20px;
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  padding: 10px 12px;
  text-align: center;
}

#scriptCont .script .script_btn li.active {
  border: 2px solid #444;
  background: #444;
  color: #fff;
}

#loginCont {
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-size: 10vw;
  position: relative;
}

.log_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  font-size: 18px;
}

.log_content h1 {
  text-align: center;
}

.log_content .log_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.log_content .log_text input {
  width: 363px;
  height: 53px;
  background-color: #000;
  border: 1px solid #f0eeeb;
}

.log_content .log_text input::-webkit-input-placeholder {
  padding: 15px;
}

.log_content .log_text input:-ms-input-placeholder {
  padding: 15px;
}

.log_content .log_text input::-ms-input-placeholder {
  padding: 15px;
}

.log_content .log_text input::placeholder {
  padding: 15px;
}

.log_content .log_text .log_id {
  margin: 23px 0 10px;
}

.log_content .log_text .log_pw {
  margin: 10px 0;
}

.log_content .log_btn {
  width: 363px;
  height: 53px;
  margin: 10px 0 23px;
}
